
// base color palettes for our custom theme
// can be generated here:
//    http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5

$palette0: (
    50 : #e1e3e4,
    100 : #b5b9bc,
    200 : #848a90,
    300 : #535b64,
    400 : #2e3742,
    500 : #091421,
    600 : #08121d,
    700 : #060e18,
    800 : #050b14,
    900 : #02060b,
    A100 : #5084ff,
    A200 : #1d60ff,
    A400 : #0045e9,
    A700 : #003ecf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$palette1: (
    50 : #fef3e0,
    100 : #fde2b3,
    200 : #fccf80,
    300 : #fabc4d,
    400 : #f9ad26,
    500 : #f89f00,
    600 : #f79700,
    700 : #f68d00,
    800 : #f58300,
    900 : #f37200,
    A100 : #ffffff,
    A200 : #fff0e6,
    A400 : #ffd2b3,
    A700 : #ffc39a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

